azureml-defaults==1.42.0
azureml-pipeline==1.42.0
numpy>=1.10,<1.20
pandas>=1.1,<1.2
scipy>=1.5,<1.6
Pillow
cython
matplotlib>=3.3,<3.4
scikit-image
tensorflow~=2.5.0
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
h5py
imgaug
IPython
timm==0.4.5
opencv-python
seaborn==0.11.2
